{% extends "__main__.html" %}
{% block head %}
{% include "__main__header.html" %}
{% include "__main__navigation_b.html" %}
{% endblock %}
{% block content %}

{% include "__main__navigation_s.html" %}

<section class="ai_main">
  <section class="ai_main_inside">
    <div class="">
      <p>editing the {{aibook.id}} Ai</p>
    </div>

    {% if ai != [] %}

    <article class="ai_500px">
      <img class="img_at_670css ai_orisize_pic" src="{{aibook.picture}}" alt="picture of Ai">
      <div class="ai_nooverlap_text">
        <form class="" action="{{url_for('aibook.editAiBook', aibook_id = aibook.id)}}?state={{STATE}}" method="post">
          <label for="name">Name: </label>
          <input type="text" name="name" value="{{aibook.name}}"></br>

          <label for="author">Author: </label>
          <input type="text" name="author" value="{{aibook.author}}"></br>

          <label for="price">Price: </label>
          <input type="text" name="price" value="{{aibook.price}}"></br>

          <label for="description">Description: </label></br>
          <textarea class="textarea i_textarea" name="description" rows="8" cols="80">{{aibook.description}}</textarea></br>

          <label for="picture">Picture: </label></br>
          <input type="multitype/image" name="picture" value="{{aibook.picture}}" placeholder="paste image url"></br>

          <button type="submit" name="button">Edit</button>
        </form>
      </div>
    </article>

    {% endif %}

    <a href="{{url_for('showAiBook')}}"><button type="button" name="cancel">Cancel</button></a>
  </section>
</section>

{% endblock %}
