{% extends "__main__.html" %}
{% block head %}
{% include "__main__header.html" %}
{% include "__main__navigation_b.html" %}
{% endblock %}
{% block content %}

{% include "__main__navigation_s.html" %}

<section class="ai_main">
  <section class="ai_main_inside">
    <article class="aicatalog_500px">
      <img class="img_at_670css aicatalog_orisize_pic" src="{{aicatalog.picture}}" alt="picture of Ai catalog">
      <form class="" action="{{url_for('catalog.deleteAiCatalog', aicatalog_id = aicatalog.id)}}?state={{STATE}}" method="post">
        <p>Are you sure you want to delete {{aicatalog.name}} Ai catalog?</p>
        <button type="submit" name="button">Delete</button>
      </form>
    </article>
    <a href="{{url_for('showAiCatalog')}}"><button type="button" name="cancel">Cancel</button></a>
  </section>
</section>

{% endblock %}
