html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

header, section, article, footer, div {
  box-sizing: border-box;
}

body {
  font-family: "Abel", sans-serif;
}


/*
 *
 * whole content
 *
 */


.whole-content-wrapper {
  width: 100%;
  height: 100%;
}

/*
 *
 * Header
 *
 */


.header {

}

.header-inner {
  width: 100%;
  border-bottom: 1px #2d3c49 solid;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.header-logo {
  height: 100px;
  margin: 1em 5em 0 5em;
}

.header-title {
  margin: 0 0 1em 0;
}

.header-main-title {
  font-size: 2em;
  font-weight: lighter;
  margin: 0 0 0.2em 0;
}

.header-sub-title {
  font-size: 0.8em;
  margin-top: 0;
  font-weight: lighter;
  margin-bottom: 0;
  text-align: right;
}


/*
 *
 * Main
 *
 */

 /*
  *
  * duck image
  *
  */


  .duck-image {
    width: 100%;
    position: relative;
  }

  .duck-image-controller {
    transition: width 0.5s;
  }

.duck-image-inner {
  background-color: rgba(3, 3, 3, 0.44);
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  display: none;
}

.duck-image-text {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  color: white;
  font-weight: bold;
}


/*
 *
 * line
 *
 */


.line {
  width:100%;
  height: 1em;
  border-bottom: 1px #2d3c49 solid;
  margin-bottom: 1em;
}


 /*
  *
  * introduce ducks
  *
  */



.ducks-title {
  width: 100%;
  font-size: 1.4em;
  padding: 2rem 0 2rem 1.6rem;
  background-color: #2d3c49;
  color: #02b3e4;
}

.container {
  width:100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
  margin: 2.7em 0 2em 0;
}

.duck-1 {
  width: 250px;
  margin: 0 0.2em 1em 0.2em;
}

.duck-1-img {
  width: 250px;
  height: 200px;
}

.duck-1-text h2 {
  font-size: 1.5em;
  margin: 0.4rem 0 0.3rem 0;
}

.duck-2 {
  width: 250px;
  margin: 0 0.2em 1em 0.2em;
}

.duck-2-img {
  width: 250px;
  height: 200px;
}

.duck-2-text h2 {
  font-size: 1.5em;
  margin: 0.5rem 0 0.3rem 0;
}

.duck-3 {
  width: 250px;
  margin: 0 0.2em 1em 0.2em;
}

.duck-3-img {
  width: 250px;
  height: 200px;
}

.duck-3-text h2 {
  font-size: 1.5em;
  margin: 0.5rem 0 0.3rem 0;
}


/*
 *
 * footer
 *
 */

 .footer {
   width: 100%;
   padding: 2rem 1.6rem 2rem 1.6rem;
   background-color: #2d3c49;
   color: #7d97ad;
   font-size: 1.2rem;
   text-align: center;
 }
